html {
    background-color: grey;
}

#frame {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    border: 1px solid black;
    gap: 8px;
}

.calculation {
    width: 200px;
    height: 75px;
    border: 1px solid black;

}

#buttons {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid red;
    flex-direction: column;
    margin-top: -8px;
}

button {
    width: 46px;
    height: auto;
}

.placeholder p {
    visibility: hidden;
}