#frame {
    display: flex;
    border: 1px solid black;
    /* text-wrap: nowrap; */
    flex-wrap: wrap;
    width: 168px;
}

#first-row {
    display: flex;
    padding-top: 40px;
    max-width: 42px;
    max-height: 42px;
}

#add p,
#subtract p,
#multiply p,
#divide p,
#dot p,
#one p,
#two p,
#three p,
#four p,
#five p,
#six p,
#reset p,
#seven p,
#eight p,
#nine p,
#equal p,
#placeholder,
#zero {
    display: flex;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

#second-row {
    display: flex;
    /* margin: auto;
    padding: auto; */
}

#third-row {
    display: flex;
    margin-top: -32px;
    /* margin: auto;
    padding: auto; */
}

#fourth-row {
    display: flex;
    margin-top: -32px;
}

#fifth-row {
    display: flex;
    margin-top: -16px;
}